.column {
  overflow-y: auto;
  scrollbar-width: none; /* Oculta el scrollbar en Firefox */
  -ms-overflow-style: none; /* Oculta el scrollbar en Internet Explorer/Edge */
}

.column::-webkit-scrollbar {
  display: none; /* Oculta el scrollbar en Chrome y Safari */
}
  .addCard {
    margin-top: 8px;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
    color: black;
    overflow-wrap: break-word; /* Esta propiedad maneja el desbordamiento de palabras */
  }
  
  
  .button {
    margin-top: 8px;
    background-color: #5aac44;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #61bd4f;
  }
  
  .titleInput{
    color: black;
  }

  .a {
    overflow: scroll;
  }

  .botones{
    display: flex;
    justify-content: space-around;
    
  }

.h3{
  text-align: center;
  margin-bottom: 8px;
  background-color: #5bac4454;
  padding: 4px;
}