.h1 {
  font-size: 3rem; /* Tamaño de fuente grande para dispositivos de escritorio */
  top: 0;
  left: 50%;
  position: fixed;
  z-index: -3;
}

@media (max-width: 768px) {
  .h1 {
    font-size: 2rem; /* Reducir el tamaño de fuente para dispositivos móviles */
  }
}
 
